
@{
    ViewBag.Title = "Confirmation";
}

<div class="container">
    <div class="row">
            <div class="col-md-12">
                <h2> Thanks for the feed Back </h2>
                <a href="@Url.Action("Index","Home")" style="font-size:30px;"> Roll Back</a>
            </div>

    </div>

</div>


