@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wine Store</h1>
    <img src="https://westliquor.co.nz/wp-content/uploads/ourstores.png" height="330" width="1050"></img>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>INSTAGRAM LIVE | EMERSON'S WITH PHILL</h2>
        <p>
            NEW Hazed & Confused IPA flaunts a gnarly hit of Riwaka, Simcoe and Mosaic hops, providing you with a highly aromatic brew with a psychedelic burst of tropical citrus flavours, and a totally piney finish. On the back of the success of the Big Rig APA, the Emerson’s brew crew thought it would be a great idea to brew Big Rig’s bigger and hoppier brother. American Graffiti is an incredibly luscious and super fresh all American Pale Ale, with a tonne of fresh hops that seem to be hopping right out of your pint. Join Phill LIVE for a tasting of Emerson's brand new brews. Tasting held live via our instagram account at 6pm -
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>
            ZUCCARDI WINE TASTING | WINEMAKER MARTIN DI STEFANO PRESENTING FROM ARGENTINA
        </h2>
        <p> This will be an exceptional tasting; Martin Di Stefano is Sebastian Zuccardi’s right hand (and left too) in the winery. Martin will be joining us online from the winery in Argentina. We’ll be tasting eight of the wines from this world class winery; Zuccardi Q Series Malbec 2017, Zuccardi Jose Malbec 2015, Zuccardi Concreto Malbec 2018, Zuccardi Q Series Cabernet 2015, Zuccardi Aluvional Altamira 2014, Zuccardi Q Series Chardonnay 2018, Zuccardi Finca Peidra Infinta 2014, Zuccardi Aluvional Tupangato Alto 2014. If you purchased a bottle of each of these, you’d need just shy of $1000, this is a rare and unique opportunity for sure.</p>
        
    </div>
    <div class="col-md-4">
        <h2>COGNAC L’HERAUD VIRTUAL TASTING</h2>
        <p>L’Heraud is a family owned and run Cognac house, one that used to sell to the big names before deciding to bottle and sell themselves. Since 1680, generations of the Lhéraud family have lived in the same 10th-century house in the heart of the Petite Champagne region. To say this is hand crafted is an understatement, this Cognac is obsessively made with quality at the forefront of all decisions. We couldn’t believe how good these are when we first tried, easily beating the big houses for less money. Even so Cognac is not the cheapest, and the cost to purchase all the bottles we are trying is $2783,</p>
       
    </div>
</div>