
@{
    ViewBag.Title = "Login_Admin";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="Match_Login">
                <div class="form-group">
                    <label>Enter User Name</label>
                    <input type="text" id="txtUserName" class="form-control" name="txtUserName" required />
                </div>

                <div class="form-group">
                    <label>Enter User Password</label>
                    <input type="password" id="txtUserPassword" class="form-control" name="txtUserPassword" required />
                </div>

                <div class="form-group">

                    <input type="submit" value="Login" class="btn btn-danger" />
                </div>
            </form>

        </div>


    </div>
</div>
